body {
  background: linear-gradient(315deg, #005ca9, #009ee3);
  background-size: 400% 400%;

  /* https://www.gradient-animator.com/ */
  -webkit-animation: ShiftingGradient 6s ease infinite;
  -moz-animation: ShiftingGradient 6s ease infinite;
  -o-animation: ShiftingGradient 6s ease infinite;
  animation: ShiftingGradient 6s ease infinite;

  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}
.footer_txt::selection {
  display: none;
}
@-webkit-keyframes ShiftingGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-moz-keyframes ShiftingGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-o-keyframes ShiftingGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes ShiftingGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.background-images {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

#biss-logo {
  height: 15vmin;
  align-self: flex-end;
  /* margin: 2rem; */
}

.news,
.topNews{
  position: relative;
  display: flex;
  font-family: "BISS", serif;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  color: #005ca9;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5rem;
}
.news{
  justify-content: center;
  align-items: center;
  font-size: 18px;
  top: 50px;
  bottom: 0;
  height: 200px;
  margin-bottom: 5rem;

}
.text-container {
  width: 60%;
  position: relative;
  z-index: 1;
  transition: all 20ms ease;
  animation: scrollText 60s linear infinite 200ms;
}
@keyframes scrollText {
  from {
    transform: translateY(75%);
  }
  to {
    transform: translateY(-75%);
  }
}
.topNews{
  top: 20px;
  font-size: 25px;
}
.topNews-title{
  position: relative;
  z-index: 1;
  transition: all 20ms ease;
  animation: scrollNewsText 60s linear infinite 200ms;
}
@keyframes scrollNewsText {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(-150%);
  }
}

@media only screen and (min-width: 2560px) {
  #biss-logo {
    height: 10vmin;
  }
}
.hexagon {
  height: 10vmin;
  align-self: flex-end;
  margin: 2rem;
}
@media only screen and (min-width: 2560px) {
  .hexagon {
    height: 6vmin;
  }
}

h1,
h2 {
  color: #fff;
  font-family: "BISS", serif;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  justify-self: center;
  margin-top: 16vh;
  margin-bottom: 6vh;
}
h2 {
  font-size: 1rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 2560px) {
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 3840px) {
  h1 {
    font-size: 15rem;
  }
  h2 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 7680px) {
  h1 {
    font-size: 30rem;
  }
  h2 {
    font-size: 8rem;
  }
}

@font-face {
  font-family: "BISS";
  src: url("./assets/fonts/BISS-Book.ttf") format("truetype"), url("./assets/fonts/BISS-Book.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "BISS";
  src: url("./assets/fonts/BISS-Medium.ttf") format("truetype"), url("./assets/fonts/BISS-Medium.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "BISS";
  src: url("./assets/fonts/BISS-Bold.ttf") format("truetype"), url("./assets/fonts/BISS-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "BISS";
  src: url("./assets/fonts/BISS-Black.ttf") format("truetype"), url("./assets/fonts/BISS-Black.woff") format("woff");
  font-weight: 900;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2vw;
}

.remove-list-styling {
  list-style-type: none;
  padding-inline-start: 0;
}

.placeholder {
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BISS";
  font-size: 3vmin;
  font-weight: 300;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}
.pointing {
  position: relative;
  height: auto;
  top: 0px;
  bottom: 0;
  left: 0%;
  opacity: 0;
  /* transform: scale(0); */
  right: 0;
  width: 100px;
  transition: all ease-in-out;
  animation: pointing 3s infinite alternate;
}
@keyframes pointing {
  0%,
  30% {
    top: 90px;
    left: 50%;
    opacity: 0;
  }
  40%,
  100% {
    top: 35px;
    left: 50%;
    opacity: 0.9;
  }
}
